<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <b>Templates</b> 컨텐츠 입니다.
    <br>
    GetMapping : /hello-static.html<br>
    return : hello-static.html<br>
    resource : static/hello-static.html & templates/hello-static.html<br>
    결과 : templates의 hello-static.html로 이동된다.<br>
    <br><br>
    질문 : 스프링 부트에서 정적 파일 관리를 제공한다고 합니다.<br>
    그래들, 메이븐 모두에게 해당되는 개념인지 그래들에만 해당되는 얘기인지 궁금합니다.<br>
    메이븐 방식일 경우 webapp 하위에 resources와 WEB-INF로 나뉘는데 정적파일이 resources에 저장되는걸로 알고있습니다.<br>
    스프링프레임워크에서는 뷰리졸버의 prefix가 기본적으로 /WEB-INF/views/ 이렇게 세팅해두고 하는것으로 알고있거든요...<br>
</body>
</html>